version: '3.9'
services:
  db:
    image: postgres:latest
    container_name: minitwit-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=minitwit
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  minitwit-api:
    build:
      context: .
      dockerfile: ./minitwit.Api/Dockerfile
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=minitwit;Username=postgres;Password=postgres
    ports:
      - "8080:8081"

  web:
    build:
      context: ./minitwit.Web
      dockerfile: Dockerfile
    container_name: minitwit-web
    depends_on:
      - minitwit-api
    environment:
      - API_BASE_URL=http://minitwit-api:8080/
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    ports:
      - "3000:3000"

volumes:
  db-data:
